body {
    background: #050505;
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#choices button {
    font-size: 40px;
    margin: 10px;
    padding: 15px 20px;
    background: black;
    border: 2px solid cyan;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

#choices button:hover {
    box-shadow: 0 0 20px cyan;
    transform: scale(1.1);
}

#result {
    margin-top: 20px;
    font-size: 22px;
}